:root{
  --bg: #F8F9FA;
  --notify: #FF9106;
  --bg-prospetto: #1B72E8;
  --bg-box-title: #F7F7F7;
  --box-border-color: #E8E8E8;
  --separatore-tab: #DEE2E6;
  --btn-color: #6C757D;
  --aside-color: #142a40;
  --bg-pills: #165BBA;
  --place-holder-color: #7D7D7D;
}

.bg-white{
  background-color: white;
}
.search-bar{
  background-color: #E5E5E5;
}
.search-bar input,
.search-bar textarea{
  background-color: #E5E5E5;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
}

.search-bar input::placeholder,
.search-bar textarea::placeholder {
  color: var(--place-holder-color);
} 


/* debug */
/* [class^="container"],
.debug{
  background-color: rgba(144, 238, 144, 0.3);
  border: 1px solid black;
} */
/* /debug */

/* UTILITY */
.bp-m-auto{
  margin: 0 auto;
}
.bp-container{
  /* width: 92%; */
  margin-left: 105px;
}

.aside-container{
  overflow: auto;
  /* height: 100vh; */
}

.v-al-mid{
  vertical-align: middle;
}

.aside-font{
  font-size: .9rem;
}
/* /UTILITY */

img{
  width: 100%;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg);
}

/* HEADER */
header{
  height: 50px;
}

.notify{
  color: var(--notify);
}

.logo-section{
  position: absolute;
}

.logo-desktop,
.logo-small{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo-section,
.logo-desktop{
  width: 110px;
}

.logo-section .logo-desktop,
.logo-section .logo-small{
  height: 100%;
  overflow: hidden;
}

.logo-section .logo-small{
  width: 30px;
}

.admin{
  height: 80%;
}

/* .search-bar{
  width: 75%;
} */
/* HEADER */

/* MENU ASIDE */
.aside-menu{
  background-color: var(--aside-color);
  background-image: url(../img/sidebar-bg.png);
  max-width: 120px;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.aside-menu .aside-container .row{
  height: 90%;
  width: 130px;
}
/* /MENU ASIDE */

/* CONTENUTO DASHBOARD */
/* TOP-BAR */
.bp-container .prospetto{
  background-color: var(--bg-prospetto);
}

.pills{
  background-color: var(--bg-pills);
  font-size: .8rem;
  font-weight: 300;
}

.prospetto .boolean i{
  font-size: .8rem;
}

.dashboard .prospetto span{
  font-size: .8rem;
}
/* /TOP-BAR */

/* BOX */
.box{
  background-color: white;
  border: 1px solid var(--separatore-tab) ;
  border-radius: 10px;
  margin-bottom: 25px;
  
}

.box-title{
  background-color: var(--bg-box-title);
  padding: 10px 15px 0;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid var(--separatore-tab);
}

.box-content{
  padding: 10px 15px 0;
}
/* /BOX */

/* STAT */
.bp-container .stat{
  
}

/* /STAT */

/* Tabella */
.class-icon{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
}

/* .box-content .row{
  margin: 0 20px 0 10px;
  border-bottom: 2px solid var(--separatore-tab);
} */

.separatore-tab{
  width: 95%;
  border-bottom: 1px solid var(--separatore-tab);
  margin: 10px 0;
}

.btn-clr{
  color: var(--btn-color);
}
/* /Tabella */

/* TODO */
.check-btn{
  border: 1px solid var(--box-border-color);
  border-radius: 5px;
}

.separatore-box{
  
  border-bottom: 1px solid var(--box-border-color);
}
/* /TODO */

/* GRAFICO */
.graphic .box p{
  font-size: .8rem;
  margin-bottom: 0;
}

.hide{
  display: none;
}
/* /GRAFICO */
/* /CONTENUTO DASHBOARD */